<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
	<display-name>FoundITApp</display-name>
	<display-name>RouterServlet</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>routerServlet</servlet-name>
		<servlet-class>au.edu.unsw.soacourse.controller.RouterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>routerServlet</servlet-name>
		<url-pattern>/signup</url-pattern>
		<url-pattern>/search</url-pattern>
		<url-pattern>/login</url-pattern>
		<url-pattern>/previous</url-pattern>
	</servlet-mapping>
</web-app>